
input{
    width: 45px;
    height: 55px;
    font-size: xx-large
    
}
.button{
   
    margin: 10px;
    background-color: lightcoral;
    border-radius: 100px;
    font-size:xx-large;
    width: 45px;
    height: 55px;
    box-shadow: 7px 7px 1px rgba(7, 0, 0, 0.3)}

 .display{
    border-radius: 15px;

    

 }
 .clear{
    margin: 10px;
    background-color: lightcoral;
    border-radius: 100px;
    font-size:xx-large;
    width: 110px;
    height: 45px;
    box-shadow: 7px 7px 1px rgba(7, 0, 0, 0.3)}


 
div{
    width: 300px;
    height: 550px;
    border-width: 10px;
    border-style: solid;
    border-color: lightcoral;
    background-image: url(pinkbrick.jpg);
    border-radius: 50px;

}
h1{
    color: lightcoral;
    
    font-family: 'Grandstander', cursive;
    font-family: 'Noto Sans', sans-serif;
}
  
